$sun: #f28076;
$scatteredCloud: #ffd273;
$rain: #4eb098;
$rainSun: #fbc193;
$storm: #b8e7ea;
$snow: #081f71;
$smog: #bfaee3;

$height-main: 72vh;
$fontTempFocus: 60pt;
$fontTempUnfocus: 40pt;
$fontDate: 20pt;
$sizeIconFocus: 14vh;
$sizeIconUnfocus: 10vh;
$cardHeightFocus: 33vh;
$cardHeightUnfocus: 20vh;
$marginArroundItems: 1.5vh;
