@import "../style.scss";

@mixin colorMeteo {
  &.clearSky {
    background-color: $sun;
  }

  &.scatteredClouds {
    background-color: $scatteredCloud;
  }

  &.showerRain {
    background-color: $rain;
  }

  &.rain {
    background-color: $rainSun;
  }

  &.thunderstorm {
    background-color: $storm;
  }

  &.snow {
    background-color: $snow;
  }

  &.mist {
    background-color: $smog;
  }
}

@mixin onFocus {
  height: $cardHeightFocus;
  @include colorMeteo;

  .temperature {
    font-size: $fontTempFocus;
  }

  img {
    height: $sizeIconFocus;
    width: $sizeIconFocus;
  }
}

@mixin unFocus {
  height: $cardHeightUnfocus;
  background-color: #333333;

  .temperature {
    font-size: $fontTempUnfocus;
  }

  img {
    height: $sizeIconUnfocus;
    width: $sizeIconUnfocus;
  }
}

.card {
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif, "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  @include unFocus;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
  transition: all 0.4s ease-in;

  .date {
    display: flex;
    justify-content: flex-start;
  }

  .cardContent {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  img,
  .temperature,
  .date {
    margin: $marginArroundItems;
  }
}

.card:hover {
  @include onFocus;
}
