.onboarding-container {
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin: 5%;
  }
  h1 {
    font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    text-align: center;
  }
}

img {
  border-radius: 25px;
  height: 100%;
  width: auto;
}
