.imgError {
  border-radius: 15px;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.selectDateRandom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nextArrow {
  width: 10%;
  margin-left: 10%;
}
